--
-- PostgreSQL database dump
--

\restrict xhmRMvs95epKEiTVUxKHZY7eVy1yDndpLN8a1s7Hfzy7mf8OSfl9kkf20Sm9Tn7

-- Dumped from database version 18.0
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: CatalogCategory; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."CatalogCategory" AS ENUM (
    'PIECES',
    'EQUIPEMENTS',
    'AUTRES'
);


--
-- Name: update_workorder_updatedat(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.update_workorder_updatedat() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW."updatedAt" = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$;


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Account; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Account" (
    id text NOT NULL,
    "userId" text NOT NULL,
    type text NOT NULL,
    provider text NOT NULL,
    "providerAccountId" text NOT NULL,
    refresh_token text,
    access_token text,
    expires_at integer,
    token_type text,
    scope text,
    id_token text,
    session_state text
);


--
-- Name: AppSetting; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."AppSetting" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "shopName" text,
    "shopEmail" text,
    "shopPhone" text,
    address1 text,
    address2 text,
    zip text,
    city text,
    country text,
    "pdfPrimary" text,
    "legalFooter" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: Booking; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Booking" (
    id text NOT NULL,
    start timestamp(3) without time zone NOT NULL,
    "end" timestamp(3) without time zone NOT NULL,
    status text DEFAULT 'pending'::text NOT NULL,
    name text NOT NULL,
    email text,
    phone text,
    bike text,
    description text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "customerId" text
);


--
-- Name: CalendarBlock; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."CalendarBlock" (
    id text NOT NULL,
    reason text,
    start timestamp(3) without time zone NOT NULL,
    "end" timestamp(3) without time zone NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: CalendarConfig; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."CalendarConfig" (
    id integer DEFAULT 1 NOT NULL,
    timezone text DEFAULT 'Europe/Paris'::text NOT NULL,
    "slotMinutes" integer DEFAULT 60 NOT NULL,
    "leadTimeHours" integer DEFAULT 6 NOT NULL,
    "maxConcurrent" integer DEFAULT 1 NOT NULL,
    "saturdayByAppt" boolean DEFAULT true NOT NULL,
    "businessHours" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: CalendarEvent; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."CalendarEvent" (
    id text NOT NULL,
    title text NOT NULL,
    description text,
    start timestamp(3) without time zone NOT NULL,
    "end" timestamp(3) without time zone NOT NULL,
    status text DEFAULT 'planned'::text NOT NULL,
    "blocksAvail" boolean DEFAULT true NOT NULL,
    color text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: CatalogItem; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."CatalogItem" (
    id text NOT NULL,
    sku text,
    category public."CatalogCategory" NOT NULL,
    name text NOT NULL,
    "priceHT" double precision NOT NULL,
    "priceTTC" double precision NOT NULL,
    "vatRate" double precision NOT NULL,
    active boolean DEFAULT true NOT NULL,
    "stockQty" integer DEFAULT 0 NOT NULL,
    "minStock" integer DEFAULT 0 NOT NULL,
    "reorderQty" integer DEFAULT 0 NOT NULL,
    location text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "purchasePriceHT" double precision
);


--
-- Name: Communication; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Communication" (
    id text NOT NULL,
    "customerId" text NOT NULL,
    "workOrderId" text,
    "invoiceId" text,
    type text NOT NULL,
    event text NOT NULL,
    recipient text NOT NULL,
    subject text,
    content text NOT NULL,
    status text NOT NULL,
    provider text DEFAULT 'hubspot'::text NOT NULL,
    "externalId" text,
    "sentAt" timestamp(3) without time zone,
    "deliveredAt" timestamp(3) without time zone,
    error text,
    metadata text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: Customer; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Customer" (
    id text NOT NULL,
    email text,
    "firstName" text,
    "lastName" text,
    phone text,
    address2 text,
    zip text,
    city text,
    country text,
    "bikeBrand" text,
    "bikeModel" text,
    "nationalFileId" text,
    "shipAddress1" text,
    "shipAddress2" text,
    "shipZip" text,
    "shipCity" text,
    "shipCountry" text,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: CustomerBike; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."CustomerBike" (
    id text NOT NULL,
    "customerId" text NOT NULL,
    index integer NOT NULL,
    brand text,
    model text,
    "nationalFileId" text,
    "serialNumber" text,
    color text,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: EmailTemplate; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."EmailTemplate" (
    id text NOT NULL,
    name text NOT NULL,
    event text NOT NULL,
    subject text NOT NULL,
    "htmlContent" text NOT NULL,
    "textContent" text NOT NULL,
    active boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: GlobalSetting; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."GlobalSetting" (
    key text NOT NULL,
    value text
);


--
-- Name: Invoice; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Invoice" (
    id text NOT NULL,
    "workOrderId" text NOT NULL,
    number text,
    "issueDate" timestamp(3) without time zone,
    status text DEFAULT 'draft'::text NOT NULL,
    type text DEFAULT 'invoice'::text NOT NULL,
    "parentId" text,
    "pricingMode" text DEFAULT 'HT_TVA'::text NOT NULL,
    currency text DEFAULT 'EUR'::text NOT NULL,
    "vatRate" double precision DEFAULT 20 NOT NULL,
    "laborRate" double precision DEFAULT 60 NOT NULL,
    "subtotalHT" double precision DEFAULT 0 NOT NULL,
    "vatAmount" double precision DEFAULT 0 NOT NULL,
    "totalTTC" double precision DEFAULT 0 NOT NULL,
    "discountAmount" double precision DEFAULT 0,
    "paidAt" timestamp(3) without time zone,
    "paymentMethod" text,
    "cancelledAt" timestamp(3) without time zone,
    "cancelledReason" text,
    "dueDate" timestamp(3) without time zone,
    "reminderCount" integer DEFAULT 0 NOT NULL,
    "lastReminderAt" timestamp(3) without time zone,
    "validUntil" timestamp(3) without time zone,
    "convertedAt" timestamp(3) without time zone,
    "convertedToId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: InvoiceLine; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."InvoiceLine" (
    id text NOT NULL,
    "invoiceId" text NOT NULL,
    type text DEFAULT 'part'::text NOT NULL,
    description text NOT NULL,
    qty double precision DEFAULT 1 NOT NULL,
    "unitPriceHT" double precision,
    "unitPriceTTC" double precision,
    "vatRate" double precision,
    "totalHT" double precision DEFAULT 0 NOT NULL,
    "totalTTC" double precision DEFAULT 0 NOT NULL,
    "partId" text,
    "purchasePriceHT" double precision
);


--
-- Name: InvoicePayment; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."InvoicePayment" (
    id text NOT NULL,
    "invoiceId" text NOT NULL,
    amount double precision NOT NULL,
    method text,
    "paidAt" timestamp(3) without time zone NOT NULL,
    note text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: InvoiceSequence; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."InvoiceSequence" (
    id text NOT NULL,
    year integer NOT NULL,
    "lastNumber" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: SMSTemplate; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."SMSTemplate" (
    id text NOT NULL,
    name text NOT NULL,
    event text NOT NULL,
    content text NOT NULL,
    active boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: Session; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Session" (
    id text NOT NULL,
    "sessionToken" text NOT NULL,
    "userId" text NOT NULL,
    expires timestamp(3) without time zone NOT NULL
);


--
-- Name: StockMovement; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."StockMovement" (
    id text NOT NULL,
    "itemId" text NOT NULL,
    type text NOT NULL,
    qty integer NOT NULL,
    "refType" text,
    "refId" text,
    note text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: Supplier; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Supplier" (
    id text NOT NULL,
    name text NOT NULL,
    website text,
    "connectorType" text DEFAULT 'MOCK'::text NOT NULL,
    active boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: SupplierCredential; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."SupplierCredential" (
    id text NOT NULL,
    "supplierId" text NOT NULL,
    "userId" text NOT NULL,
    username text,
    password text,
    "extraJson" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: SupplierItem; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."SupplierItem" (
    id text NOT NULL,
    "supplierId" text NOT NULL,
    "catalogItemId" text,
    "supplierSku" text NOT NULL,
    ean text,
    "lastPriceHT" double precision,
    "lastAvailability" text,
    "lastCheckedAt" timestamp(3) without time zone,
    favorite boolean DEFAULT false NOT NULL
);


--
-- Name: SupplierOffer; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."SupplierOffer" (
    id text NOT NULL,
    "supplierId" text NOT NULL,
    "catalogItemId" text,
    "externalId" text,
    name text NOT NULL,
    description text,
    reference text,
    brand text,
    price double precision NOT NULL,
    "priceHT" double precision,
    currency text DEFAULT 'EUR'::text NOT NULL,
    availability text,
    stock integer,
    "deliveryDays" integer,
    url text,
    "imageUrl" text,
    metadata text,
    "fetchedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: User; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."User" (
    id text NOT NULL,
    name text,
    email text NOT NULL,
    "emailVerified" timestamp(3) without time zone,
    image text,
    password text,
    role text DEFAULT 'user'::text NOT NULL,
    active boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: VerificationToken; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."VerificationToken" (
    identifier text NOT NULL,
    token text NOT NULL,
    expires timestamp(3) without time zone NOT NULL
);


--
-- Name: WorkOrder; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."WorkOrder" (
    id text NOT NULL,
    status text DEFAULT 'created'::text NOT NULL,
    "customerId" text,
    "bikeId" text,
    type text DEFAULT 'repair'::text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "dueAt" timestamp(3) without time zone
);


--
-- Name: WorkOrderPart; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."WorkOrderPart" (
    id text NOT NULL,
    "workOrderId" text NOT NULL,
    "catalogItemId" text,
    description text NOT NULL,
    qty integer DEFAULT 1 NOT NULL,
    "priceHT" double precision DEFAULT 0 NOT NULL,
    note text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: Account Account_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Account"
    ADD CONSTRAINT "Account_pkey" PRIMARY KEY (id);


--
-- Name: AppSetting AppSetting_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."AppSetting"
    ADD CONSTRAINT "AppSetting_pkey" PRIMARY KEY (id);


--
-- Name: Booking Booking_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Booking"
    ADD CONSTRAINT "Booking_pkey" PRIMARY KEY (id);


--
-- Name: CalendarBlock CalendarBlock_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."CalendarBlock"
    ADD CONSTRAINT "CalendarBlock_pkey" PRIMARY KEY (id);


--
-- Name: CalendarConfig CalendarConfig_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."CalendarConfig"
    ADD CONSTRAINT "CalendarConfig_pkey" PRIMARY KEY (id);


--
-- Name: CalendarEvent CalendarEvent_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."CalendarEvent"
    ADD CONSTRAINT "CalendarEvent_pkey" PRIMARY KEY (id);


--
-- Name: CatalogItem CatalogItem_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."CatalogItem"
    ADD CONSTRAINT "CatalogItem_pkey" PRIMARY KEY (id);


--
-- Name: Communication Communication_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Communication"
    ADD CONSTRAINT "Communication_pkey" PRIMARY KEY (id);


--
-- Name: CustomerBike CustomerBike_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."CustomerBike"
    ADD CONSTRAINT "CustomerBike_pkey" PRIMARY KEY (id);


--
-- Name: Customer Customer_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Customer"
    ADD CONSTRAINT "Customer_pkey" PRIMARY KEY (id);


--
-- Name: EmailTemplate EmailTemplate_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."EmailTemplate"
    ADD CONSTRAINT "EmailTemplate_pkey" PRIMARY KEY (id);


--
-- Name: GlobalSetting GlobalSetting_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."GlobalSetting"
    ADD CONSTRAINT "GlobalSetting_pkey" PRIMARY KEY (key);


--
-- Name: InvoiceLine InvoiceLine_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."InvoiceLine"
    ADD CONSTRAINT "InvoiceLine_pkey" PRIMARY KEY (id);


--
-- Name: InvoicePayment InvoicePayment_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."InvoicePayment"
    ADD CONSTRAINT "InvoicePayment_pkey" PRIMARY KEY (id);


--
-- Name: InvoiceSequence InvoiceSequence_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."InvoiceSequence"
    ADD CONSTRAINT "InvoiceSequence_pkey" PRIMARY KEY (id);


--
-- Name: Invoice Invoice_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Invoice"
    ADD CONSTRAINT "Invoice_pkey" PRIMARY KEY (id);


--
-- Name: SMSTemplate SMSTemplate_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."SMSTemplate"
    ADD CONSTRAINT "SMSTemplate_pkey" PRIMARY KEY (id);


--
-- Name: Session Session_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Session"
    ADD CONSTRAINT "Session_pkey" PRIMARY KEY (id);


--
-- Name: StockMovement StockMovement_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."StockMovement"
    ADD CONSTRAINT "StockMovement_pkey" PRIMARY KEY (id);


--
-- Name: SupplierCredential SupplierCredential_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."SupplierCredential"
    ADD CONSTRAINT "SupplierCredential_pkey" PRIMARY KEY (id);


--
-- Name: SupplierItem SupplierItem_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."SupplierItem"
    ADD CONSTRAINT "SupplierItem_pkey" PRIMARY KEY (id);


--
-- Name: SupplierOffer SupplierOffer_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."SupplierOffer"
    ADD CONSTRAINT "SupplierOffer_pkey" PRIMARY KEY (id);


--
-- Name: Supplier Supplier_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Supplier"
    ADD CONSTRAINT "Supplier_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: WorkOrderPart WorkOrderPart_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."WorkOrderPart"
    ADD CONSTRAINT "WorkOrderPart_pkey" PRIMARY KEY (id);


--
-- Name: WorkOrder WorkOrder_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."WorkOrder"
    ADD CONSTRAINT "WorkOrder_pkey" PRIMARY KEY (id);


--
-- Name: Account_provider_providerAccountId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Account_provider_providerAccountId_key" ON public."Account" USING btree (provider, "providerAccountId");


--
-- Name: AppSetting_userId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "AppSetting_userId_key" ON public."AppSetting" USING btree ("userId");


--
-- Name: Booking_customerId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Booking_customerId_idx" ON public."Booking" USING btree ("customerId");


--
-- Name: Booking_start_end_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Booking_start_end_idx" ON public."Booking" USING btree (start, "end");


--
-- Name: CatalogItem_sku_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "CatalogItem_sku_key" ON public."CatalogItem" USING btree (sku);


--
-- Name: Communication_customerId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Communication_customerId_idx" ON public."Communication" USING btree ("customerId");


--
-- Name: Communication_event_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Communication_event_idx" ON public."Communication" USING btree (event);


--
-- Name: Communication_status_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Communication_status_idx" ON public."Communication" USING btree (status);


--
-- Name: Communication_workOrderId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Communication_workOrderId_idx" ON public."Communication" USING btree ("workOrderId");


--
-- Name: CustomerBike_customerId_index_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "CustomerBike_customerId_index_key" ON public."CustomerBike" USING btree ("customerId", index);


--
-- Name: Customer_email_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Customer_email_key" ON public."Customer" USING btree (email);


--
-- Name: EmailTemplate_event_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "EmailTemplate_event_idx" ON public."EmailTemplate" USING btree (event);


--
-- Name: EmailTemplate_name_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "EmailTemplate_name_key" ON public."EmailTemplate" USING btree (name);


--
-- Name: InvoicePayment_invoiceId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "InvoicePayment_invoiceId_idx" ON public."InvoicePayment" USING btree ("invoiceId");


--
-- Name: InvoiceSequence_year_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "InvoiceSequence_year_key" ON public."InvoiceSequence" USING btree (year);


--
-- Name: Invoice_number_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Invoice_number_key" ON public."Invoice" USING btree (number);


--
-- Name: SMSTemplate_event_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "SMSTemplate_event_idx" ON public."SMSTemplate" USING btree (event);


--
-- Name: SMSTemplate_name_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "SMSTemplate_name_key" ON public."SMSTemplate" USING btree (name);


--
-- Name: Session_sessionToken_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Session_sessionToken_key" ON public."Session" USING btree ("sessionToken");


--
-- Name: SupplierOffer_catalogItemId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "SupplierOffer_catalogItemId_idx" ON public."SupplierOffer" USING btree ("catalogItemId");


--
-- Name: SupplierOffer_expiresAt_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "SupplierOffer_expiresAt_idx" ON public."SupplierOffer" USING btree ("expiresAt");


--
-- Name: SupplierOffer_externalId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "SupplierOffer_externalId_idx" ON public."SupplierOffer" USING btree ("externalId");


--
-- Name: SupplierOffer_fetchedAt_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "SupplierOffer_fetchedAt_idx" ON public."SupplierOffer" USING btree ("fetchedAt");


--
-- Name: SupplierOffer_supplierId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "SupplierOffer_supplierId_idx" ON public."SupplierOffer" USING btree ("supplierId");


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: VerificationToken_identifier_token_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "VerificationToken_identifier_token_key" ON public."VerificationToken" USING btree (identifier, token);


--
-- Name: VerificationToken_token_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "VerificationToken_token_key" ON public."VerificationToken" USING btree (token);


--
-- Name: WorkOrder_bikeId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "WorkOrder_bikeId_idx" ON public."WorkOrder" USING btree ("bikeId");


--
-- Name: WorkOrder_customerId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "WorkOrder_customerId_idx" ON public."WorkOrder" USING btree ("customerId");


--
-- Name: WorkOrder trigger_workorder_updatedat; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trigger_workorder_updatedat BEFORE UPDATE ON public."WorkOrder" FOR EACH ROW EXECUTE FUNCTION public.update_workorder_updatedat();


--
-- Name: Account Account_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Account"
    ADD CONSTRAINT "Account_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: AppSetting AppSetting_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."AppSetting"
    ADD CONSTRAINT "AppSetting_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Booking Booking_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Booking"
    ADD CONSTRAINT "Booking_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public."Customer"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Communication Communication_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Communication"
    ADD CONSTRAINT "Communication_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public."Customer"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Communication Communication_workOrderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Communication"
    ADD CONSTRAINT "Communication_workOrderId_fkey" FOREIGN KEY ("workOrderId") REFERENCES public."WorkOrder"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: CustomerBike CustomerBike_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."CustomerBike"
    ADD CONSTRAINT "CustomerBike_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public."Customer"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: InvoiceLine InvoiceLine_invoiceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."InvoiceLine"
    ADD CONSTRAINT "InvoiceLine_invoiceId_fkey" FOREIGN KEY ("invoiceId") REFERENCES public."Invoice"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: InvoicePayment InvoicePayment_invoiceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."InvoicePayment"
    ADD CONSTRAINT "InvoicePayment_invoiceId_fkey" FOREIGN KEY ("invoiceId") REFERENCES public."Invoice"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Session Session_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Session"
    ADD CONSTRAINT "Session_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: StockMovement StockMovement_itemId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."StockMovement"
    ADD CONSTRAINT "StockMovement_itemId_fkey" FOREIGN KEY ("itemId") REFERENCES public."CatalogItem"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SupplierCredential SupplierCredential_supplierId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."SupplierCredential"
    ADD CONSTRAINT "SupplierCredential_supplierId_fkey" FOREIGN KEY ("supplierId") REFERENCES public."Supplier"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SupplierItem SupplierItem_catalogItemId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."SupplierItem"
    ADD CONSTRAINT "SupplierItem_catalogItemId_fkey" FOREIGN KEY ("catalogItemId") REFERENCES public."CatalogItem"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: SupplierItem SupplierItem_supplierId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."SupplierItem"
    ADD CONSTRAINT "SupplierItem_supplierId_fkey" FOREIGN KEY ("supplierId") REFERENCES public."Supplier"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SupplierOffer SupplierOffer_catalogItemId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."SupplierOffer"
    ADD CONSTRAINT "SupplierOffer_catalogItemId_fkey" FOREIGN KEY ("catalogItemId") REFERENCES public."CatalogItem"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: SupplierOffer SupplierOffer_supplierId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."SupplierOffer"
    ADD CONSTRAINT "SupplierOffer_supplierId_fkey" FOREIGN KEY ("supplierId") REFERENCES public."Supplier"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: WorkOrderPart WorkOrderPart_catalogItemId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."WorkOrderPart"
    ADD CONSTRAINT "WorkOrderPart_catalogItemId_fkey" FOREIGN KEY ("catalogItemId") REFERENCES public."CatalogItem"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: WorkOrderPart WorkOrderPart_workOrderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."WorkOrderPart"
    ADD CONSTRAINT "WorkOrderPart_workOrderId_fkey" FOREIGN KEY ("workOrderId") REFERENCES public."WorkOrder"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: WorkOrder WorkOrder_bikeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."WorkOrder"
    ADD CONSTRAINT "WorkOrder_bikeId_fkey" FOREIGN KEY ("bikeId") REFERENCES public."CustomerBike"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: WorkOrder WorkOrder_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."WorkOrder"
    ADD CONSTRAINT "WorkOrder_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public."Customer"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict xhmRMvs95epKEiTVUxKHZY7eVy1yDndpLN8a1s7Hfzy7mf8OSfl9kkf20Sm9Tn7

